.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover{
    transition: background-color 2s;
    background-color: red;
    
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square:active {
    transition: width 5s ;
    width: 100%;
}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
    transition: border-radius 2s;
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square:hover {
    transition: background 2s;
    background: transparent;
    
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    transition: transform 2s;
    transform:scale(2,2);
}

.ex-5-square:active {
    transition: transform 2s;
    transform:scale(0.5,0.5);
}



.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale(0.5);
}

.ex-7-img:hover{
    transition: filter 2s;
    filter: grayscale(0.9) brightness(0.9);
}

.ex-8-img:hover{
    transition: filter 2s, border-radius 2s;
    filter: grayscale(0.9) brightness(0.9);
    border-radius: 20px;
}


.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img:hover{
    transition: filter 2s, border-radius 2s, transform 2s;
    filter: grayscale(0.9) brightness(0.9);
    border-radius: 20px;
    transform: scale(2);
}


.ex-10-icon {
    font-size: 60px;
    animation-name: turn;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes turn {
    from{
        transform: rotate(0);

    }

    
    to{
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    
    animation-name: turn-11;
    animation-duration: 4s;
}

@keyframes turn-11 {
    0%{
        transform: rotate(0);

    }

    
    95%{
        transform: rotate(315deg);
    }

    100%{
        transform: rotate(-0);

    }
    
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-button:hover .ex-12-top-white{
    animation-name: rotation-top ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name:circle-top ;
    animation-duration: 2s;
}
@keyframes rotation-top {
    
    0%{
        right: 0%;
    }

    

    
    50%{
        right: 100%;
    }

    100%{
        right:0%;
    }




 }

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: rotation-bot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotation-bot {
    
    0%{
        right: 0%;
    }

    

    
    50%{
        right: 100%;
    }

    100%{
        right:0%;
    }

}


.ex-13-button:hover .ex-13-top-white{
    animation-name: rotation-top-2 ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotation-top-2 {
    
    0%{
        left: 0%;
    }
    
    25%{
        left:90%;
    }
    
    50%{
        left:100%;

        
    }
    
   
    100%{
        
        top: 100%;
    }

}
.ex-13-button:hover .ex-13-bottom-white{
    animation-name: rotation-bot-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotation-bot-2 {
    
    0%{
        right: 0%;
    }
    
    
    25%{
        right: 90%;
    }
    50%{
        right:100%;

        
    }
    
    
    100%{
        
        bottom: 100%;
    }

}